.root{
	-fx-background-image:url('Image/bg1.jpg');
	-fx-background-size:cover;
	-fx-text-fill: black;
}
#hBoxLabel
{
	-fx-background-color: #333333;
}
#hBoxBt
{
	-fx-background-color: white;
}
#hBoxDept
{
	-fx-background-color: white;
}
#hBoxId
{
	-fx-background-color: white;
}
#hBoxName
{
	-fx-background-color: white;
}
#hBoxRole
{
	-fx-background-color: white;
}
.button{
	-fx-background-color: green;
	-fx-text-fill: #eeebeb;
	-fx-background-radius: 100;
	-fx-font-family: Quicksand;
	-fx-font-weight: bold;
}
.button:hover{
	-fx-background-color:#009900;
}
.label
{	-fx-text-fill: white;

}