.root{
	-fx-background-image:url('Image/bg1.jpg');
	-fx-background-size:cover;
	-fx-text-fill: white;
}
.button{
	-fx-background-color: green;
	-fx-text-fill: #eeebeb;
	-fx-background-radius: 100;
	-fx-font-family: Quicksand;
	-fx-font-weight: bold;
}
.button:hover{
	-fx-background-color:#009900;
}
#hBoxLabel
{
	-fx-background-color:#333333;
}
#vBoxTop{
	-fx-background-color:white;
}
#vBocCenter
{
	-fx-background-color:white;
}
#vBoxButtom
{
	-fx-background-color:#333333;
}
#stuResCourseCode{
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-size: 14px;
	-fx-text-fill: red;
}
#stuResCgpa{
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-text-fill: red;
}
#stuResCredits{
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-text-fill: red;
}